@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-brand-primary: #2563eb;
  --color-brand-gray: #8c8c88;
  --color-brand-dark: #17171c;
}

* {
  font-family: "Public Sans", sans-serif;
}

html,
body {
  @apply bg-white dark:bg-brand-dark;
}

.font-literata {
  font-family: "Literata", serif;
}
